@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: hsl(200, 80%, 60%);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
p {
  color: white;
}

h2 {
  margin: 0;
}

ol {
  columns: 2;
}

button {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-container {
  text-align: center;
  margin: 1.5rem;
}

.header {
  font-size: 3.5rem;
  margin: 0;
}

.header h1 {
  padding: 0;
  margin: 0 0;
}

.padding--top {
  padding-top: 1rem;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  font-size: 2rem;
  margin: 0 1rem;
  border: none;
  background-color: hsl(200, 80%, 60%);
  color: white;
  cursor: pointer;
  transition: ease-in 0.2s;
  border-radius: 10px;
  padding: 1rem;
}

.btn:hover {
  background-color: white;
  color: hsl(200, 80%, 60%);
  transition: ease-in 0.2s;
}

.trans-btn {
  background-color: transparent;
  border: none;
  color: white;
}

.bolt:hover {
  color: hsl(55, 100%, 58%);
  transition: all ease-in 0.2s;
  transform: scale(1.2);
}

.bolt {
  font-size: 7rem;
  transition: all ease-in 0.2s;
  min-width: 11rem;
  cursor: pointer;
}

.dots {
  font-size: 7rem;
  padding: 0;
  margin: 0;
}

.clock {
  font-size: 5rem;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 47vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin-inline: auto;
  padding: 20px;
  border-radius: 30px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.result-value {
  color: black;
}

.final-submit-btn {
  border: none;
  font-size: 1rem;
  background-color: transparent;
  color: hsl(200, 80%, 60%);
  transition: ease-in 0.2s;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.final-submit-btn:hover {
  background-color: hsl(200, 80%, 60%);
  color: white;
  transition: ease-in 0.2s;
}

.highscore-btn {
  margin-top: 1rem;
}

#home-btn {
  position: absolute;
  top: 20px;
  left: 20px;

  font-size: 2rem;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border: none;
}
